$primary-color: #0dc8e0; // teal
$text-color: #000;
$highlight-color: #fff9;
$border-radius-large: 9999px;
$shadow-color: rgba(17, 200, 224, 0.8);
$font-size-large: 18px;
$font-size-small: 16px;
$button-width-large: 323px;
$button-width-small: 280px;
$button-height-large: 54px;
$button-height-small: 48px;
$icon-size-large: 24px;
$icon-size-small: 20px;

@mixin transition($property: all, $duration: 0.3s, $timing: ease-in-out) {
  transition: $property $duration $timing;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin responsive($property, $value-small, $value-large) {
  #{$property}: $value-large;

  @media (max-width: 768px) {
    #{$property}: $value-small;
  }
}

.button {
  position: relative;
  @include transition;
  @include flex-center;
  border-radius: $border-radius-large;
  box-shadow: 0px 1px 16px 0px $shadow-color;
  padding: 20px;
  background-color: $primary-color;
  cursor: pointer;
  color: $text-color;
  gap: 10px;
  font-weight: bold;
  outline: none;
  overflow: hidden;
  @include responsive(width, $button-width-small, $button-width-large);
  @include responsive(height, $button-height-small, $button-height-large);
  @include responsive(font-size, $font-size-small, $font-size-large);
  transform: scale(1.05);
  border-color: $highlight-color;

  &:hover {
    transform: scale(1.15);

    .icon {
      transform: translate(4px);
    }

    &::before {
      animation: shine 1.5s ease-out infinite;
    }
  }

  &::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 100%;
    background-image: linear-gradient(
      120deg,
      rgba(255, 255, 255, 0) 30%,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0) 70%
    );
    top: 0;
    left: -100px;
    opacity: 0.6;
  }
}

.icon {
  @include responsive(width, $icon-size-small, $icon-size-large);
  @include responsive(height, $icon-size-small, $icon-size-large);
  @include transition;
}

// Keyframes
@keyframes shine {
  0% {
    left: -100px;
  }
  60% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}
